.main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    border: 3px solid black;
}

.box{
    outline: red solid 1px;
}